
.bg1{
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.topnav {
    position: fixed;
    margin-top: -5%;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    font-family: "Lucida Console", "Courier New", monospace;
}
  
.topnav a {
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 150%;
    border: solid rgb(192, 41, 41);
}
  
.topnav a:hover {
    background-color: rgba(255, 0, 0, 0.493);
    color: rgb(250, 250, 250);
}
  
.topnav a.active {
    background-color: #2e31d6;
    color: white;
}

.pageone{
    margin-left: 7%;
    margin-right: 7%;
    overflow: hidden;
    margin-top: 5%;
    color: azure;
    text-align: center;
    font-size: 200%;
    font-family: "Lucida Console", "Courier New", monospace;
}

.box1{
    margin-top: 3%;
    margin-left: 22%;
    margin-right: 22%;
    height: auto;
    width: auto;
    background-color: rgba(57, 173, 53, 0.514);
    text-align-last: left;
    overflow: hidden;
    border: 20px solid rgb(0, 0, 0);
    border-style: double;
}

.box2{
    margin-top: 3%;
    margin-left: 22%;
    margin-right: 22%;
    height: auto;
    width: auto;
    background-color: rgba(209, 138, 32, 0.479);
    text-align-last: left;
    overflow: hidden;
    border: 20px solid rgb(0, 0, 0);
    border-style: double;
}

.textbox{
    text-indent: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    font-size: 170%;
}

.imgsnake{
    padding-top: 5%;
    height: auto;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}

.imgsnake:hover {
    transform: rotate(360deg);
}

.imgjoy{
    height: auto;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}

.imgjoy:hover {
    transform: rotate(-360deg);
}

.textdes{
    font-size: 200%;
    color: #f2f2f2;
    margin-bottom: 7%;
    padding: 5%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.473);
}

.imgcodefirst{
    height: auto;
    width: 70%;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px dashed rgb(7, 17, 158);
}

.imgcode{
    height: auto;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px dashed rgb(7, 17, 158);
}

.imgcode3{
    height: auto;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px dashed rgb(7, 17, 158);
}

.imgcode6{
    height: auto;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px dashed rgb(7, 17, 158);
}

.clippresent{
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: ridge;
    border-width: 15px;
    border-color: rgb(214, 214, 214);
    overflow: hidden;
}

.textonclip{
    margin-top: 5%;
    margin-left: 5%;
    float: left;
    font-size: 270%;
    color: aliceblue;
    text-align: center;
    border: 7px solid rgb(24, 35, 185);
    background-color: rgba(4, 255, 255, 0.301);
    padding: 2%;
}

.byout{
    color: white;
    padding: 1.5%;
    background-color: red;
    font-size: larger;
    border-radius: 20px;
    margin-left: 1%;
}

.textgroup{
    color: rgb(255, 255, 255);
    background-color: rgba(51, 51, 51, 0.884);
    padding: 2%;
    font-size: 270%;
    margin-top: 5%;
}

.textmember{
    color: rgb(255, 255, 255);
    font-size: 150%;
    margin-left: 1%;
    text-indent: 2%;
    border: 20px rgb(85, 38, 38);
    border-style: hidden hidden hidden double;
}

.imgcodeend{
    height: auto;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    box-sizing: border-box;
    display: flex;
}

.imgend1 {
    margin-top: 2%;
    flex: 33%;
}

.imgend2 {
    flex: 33%;
    text-align: center;
}

.imgend3 {
    margin-bottom: 2%;
    text-align: left;
    flex: 33%;
}